$black: #000;
$black-alpha4: rgba(0, 0, 0, 0.4);
$black-alpha7: rgba(0, 0, 0, 0.7);
$cod-gray: #111;
$dim-gray: #666;
$nero: #222;
$mine-shaft: #333;
$mortar: #555;
$silver: #ccc;
$white: #fff;
$white-alpha4: rgba(255, 255, 255, 0.4);
$wild-sand: #f5f5f5;

main {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 1.75vw;
}

.white {
  background: linear-gradient(-30deg, $wild-sand, $white);
  border: 1px solid $silver;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 1px 0  $white,
        inset 0 -1px 0  $white,
        inset 1px 0 0  $white,
        inset -1px 0 0  $white,
        0 4px 3px $black-alpha7;
  height: 40vh;
  width: 5vw;
  margin-left: -2vw;

  &:nth-child(12n+6),
  &:nth-child(12n+13) {
    margin: 0;
  }

  &:active {
    box-shadow: 0 2px 2px $black-alpha4;
  }
}

.black {
  background: linear-gradient(-20deg, $mine-shaft, $black, $mine-shaft);
  border-color: $dim-gray $nero $cod-gray $mortar;
  border-radius: 0 0 2px 2px;
  border-style: solid;
  border-width: 1px 2px 7px;
  box-shadow: inset 0 -1px 2px $white-alpha4,
        0 2px 3px $black-alpha4;
  height: 25vh;
  position: relative;
  width: 3.5vw;
  margin-left: -1.75vw;
  z-index: 2;

  &:active {
    border-bottom-width: 2px;
    box-shadow: inset 0 -1px 1px $white-alpha4,
          0 1px 0 $black-alpha7,
          0 2px 2px $black-alpha4,
          0 -1px 0 $black;
  }
}
