main {
  text-align: center; }

ul {
  display: inline-block;
  list-style: none;
  padding: 0; }

.white {
  background: -webkit-linear-gradient(120deg, #f5f5f5, #fff);
  background: linear-gradient(-30deg, #f5f5f5, #fff);
  border: 1px solid #ccc;
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px 0 0 #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px 0 0 #fff, 0 4px 3px rgba(0, 0, 0, 0.7);
  display: inline-block;
  height: 40vh;
  margin-left: -1.75vw;
  vertical-align: top;
  width: 5vw; }
  .white:nth-child(1), .white:nth-child(6) {
    margin: 0; }
  .white:active {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }

.black {
  background: -webkit-linear-gradient(110deg, #333, #000, #333);
  background: linear-gradient(-20deg, #333, #000, #333);
  border-color: #666 #222 #111 #555;
  -webkit-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
  border-style: solid;
  border-width: 1px 2px 7px;
  -webkit-box-shadow: inset 0 -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 25vh;
  margin-left: -1.75vw;
  position: relative;
  vertical-align: top;
  width: 3.5vw;
  z-index: 2; }
  .black:active {
    border-bottom-width: 2px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0 #000;
            box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.4), 0 -1px 0 #000; }
